<div class="col-sm-6 col-md-4 col-lg-3 col-xl-4 mb-4">
    <div class="card text-center" style="width: 22rem; height: 100%;">
        <button style="border: 0; background-color: transparent;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#card{{card.cards.id}}" style="text-decoration: none;">
            <h3 style="color: black;">{{card.cards.title}}</h3>
            <div class="card-body">
                <hr style="margin: 0; color: black; opacity: 1;">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="mt-auto">
                            {% if card.liked %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="auto" fill="red" stroke="red" class="bi bi-heart-fill" viewBox="-1 -1 18 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            {{ card.cards.total_likes }}
                            {% else %}
                                <svg id="like" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="#fff" stroke="#000" class="bi bi-heart-fill" viewBox="-1 -1 18 16" >
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                </svg>
                                {{ card.cards.total_likes }}
                            {% endif %}
                        </div>
                    </div>
            </div>
        </button>
    </div>
</div>