{% for card in cards %}
<div class="carousel-item">
    <div class="card text-center" style="width: 22rem;">
        <button style="border: 0; background-color: transparent;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#card{{card.cards.id}}" style="text-decoration: none;">
            <img src="{{card.cards.path.url}}" class="card-img-top" alt="{{card.cards.title}}">
            <div class="card-body">
                <div style="justify-content: space-around; color: black; align-content: center;" class="d-flex">
                    <div class="card-body">
                        {% if card.liked %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="auto" fill="red" stroke="red" class="bi bi-heart-fill" viewBox="-1 -1 18 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            {{ card.cards.total_likes }}
                        {% else %}
                            <svg id="like" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="#fff" stroke="#000" class="bi bi-heart-fill" viewBox="-1 -1 18 16" >
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endfor %}