<nav class="navbar nav-down navbar-default navbar-fixed-top" style="box-shadow: -2px 3px 90px -20px rgb(0 0 0 / 25%);">
    <div class="container-fluid mx-4">
        <a style="font-family: Cinzel; color: #3572EF; font-size: 23px" class="navbar-brand white" href="{% url 'index' %}">MKG</a>
        {% if user.is_authenticated %}
            <h5 class="m-0"><a style="text-decoration: none; color: #3572EF;" aria-current="page" href="{% url 'home' %}">Home</a></h5>
            <div class="navbox">
                <h5 class="m-0"><a style="color: white" class="nav-link white" href="{% url 'logout' %}">Logout</a></h5>
            </div>
        {% else %}
        <div class="navbox">
            <h5 class="m-0"><button style="color: white; font-size: 20px;" class="nav-link btn white" data-bs-toggle="modal" data-bs-target="#login">Login</button></h5>
        </div>
        {% endif %}
    </div>
</nav>