{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}
<section class="py-5" style="background-color: #F8FCFC;">
    <div class="container">
        <div class="text-center">
            <h1>Mentoria</h1>
        </div>
        <div style="align-items: center; justify-content: space-around;" class="d-flex text-center p-5">
            <div>
                <img src="{% static 'assets/img/mentoria.jpg' %}" alt="..." width="500" height="400">
            </div>   
            <div class="p-5">
                <p>
                    A mentoria é um processo de aprendizagem pessoal que dá apoio e suporte ao desenvolvimento de uma carreira, ou seja, ela ajuda você a ser melhor e a encontrar um sentido para a sua vida e para a sua carreira. 
                  O mentor investe seu tempo, compartilha seu conhecimento e apoia o crescimento profissional e pessoal do mentorado. Ele fornece orientação, exemplos práticos e desafios para enriquecer seu modo de pensar e desenvolver seu potencial pessoal e profissional, enquanto segue uma jornada ao sucesso.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for card in cards %}
                {% if card.cards.section == 'mentoria' %}
                    {% include 'partials/_card.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}