{% extends 'layouts/layout.html' %}
{% load static %}
{% block content %}
<section class="py-5" style="background-color: #F8FCFC;">
    <div class="container">
        <div class="text-center">
            <h1>Pitch</h1>
        </div>
        <div style="align-items: center; justify-content: space-around;" class="d-flex text-center p-5">
            <div class="p-5">
                <p>
                    Pitch é uma apresentação curta e direta sobre uma empresa ou projeto com o objetivo de despertar a atenção de um investidor, parceiro ou cliente.
                    Normalmente possui uma duração que varia entre 30 segundos e 20 minutos, de acordo com o tipo de apresentação, público, local e tempo disponível.
                    Geralmente, o pitch é realizado presencialmente para uma pessoa ou um grupo de pessoas interessado na empresa.
                    Mas também é possível fazer a apresentação por telefone e videoconferência, ou até mesmo enviar o conteúdo por e-mail ou mensagem instantânea.
                    O termo pitch ficou famoso no ecossistema das startups, onde empreendedores criativos usam a apresentação rápida para convencer investidores a fazerem aportes em seus negócios nascentes.
                    Dessa forma, a expressão se popularizou no mundo dos negócios e hoje é sinônimo de um discurso persuasivo e objetivo, que tem como objetivo vender uma ideia, projeto ou negócio a um público em potencial.
                </p>
            </div>
            <div>
                <img src="{% static 'assets/img/pitch.jpg' %}" alt="..." width="500" height="400">
            </div>   
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for card in cards %}
                {% if card.cards.section == 'pitch' %}
                    {% include 'partials/_card.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}