{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %}
<title>Titulo da Página</title>
{% endblock %}
{% block content %}
<!-- Card -->
<section style="background-color: #F8FCFC;">
    <div class="container">
      {% include 'partials/_carousel.html' %}
    </div>
</section>
<!-- Empreendedorismo -->
<section class="py-5">
    <div class="container">
        <div class="text-center">
            <h1>Empreendedorismo</h1>
        </div>
        <div style="align-items: center; justify-content: space-around;" class="d-flex p-5">
            <div class="flip-card-container">
                <div class="flip-card">      
                  <div class="card-front">
                    <figure>
                      <img class="img" src="{% static 'assets/img/emp.jpg' %}" alt="..." width="500" height="400">
                    </figure>
                  </div>
              
                  <div class="card-back" style="background-image: url({% static 'assets/img/emp2.jpg' %}); background-size: cover;">
                    <button class="button"><a class="a" style="text-decoration: none;" href="{% url 'empreendedorismo' %}">Saiba mais</a></button>
                    <div class="design-container">
                      <span class="design design--1"></span>
                      <span class="design design--2"></span>
                      <span class="design design--3"></span>
                      <span class="design design--4"></span>
                      <span class="design design--5"></span>
                      <span class="design design--6"></span>
                      <span class="design design--7"></span>
                      <span class="design design--8"></span>
                    </div>
                  </div>
              
                </div>
            </div>
            <div class="p-5">
                <p>
                    Empreendedorismo é a capacidade que uma pessoa tem de identificar problemas e oportunidades, desenvolver soluções e investir recursos na criação de algo positivo para a sociedade.
                    Pode ser um negócio, um projeto ou mesmo um movimento que gere mudanças reais e impacto no cotidiano das pessoas.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Start Up -->
<section class="py-5" style="background-color: #F8FCFC;">
    <div class="container">
        <div class="text-center">
            <h1>Start Up</h1>
        </div>
        <div style="align-items: center; justify-content: space-around;" class="d-flex p-5">
            <div class="p-5" style="text-align: right;">
                <p>
                    Startup é uma ideia de empresa ou uma empresa nascente voltada à tecnologia e inovação que tenha como objetivo desenvolver e aprimorar um modelo de negócio.
                    As startups têm capacidade de desenvolver produto ou serviço inovador.  Para que se obtenha crescimento potencial é indispensável elaborar ações de planejamento, gestão e execução do negócio.
                    A resposta de mercado determina o sucesso da startup, logo, o  foco principal é buscar soluções de problemas ou dor do cliente e criar uma solução inovadora que ainda não 
                    foi solucionado pelo mercado.
                </p>
            </div>
            <div class="flip-card-container">
                <div class="flip-card">      
                  <div class="card-front">
                    <figure>
                      <img class="img" src="{% static 'assets/img/startup.jpg' %}" alt="..." width="500" height="400">
                    </figure>
                  </div>
              
                  <div class="card-back" style="background-image: url({% static 'assets/img/startup2.jpg' %}); background-size: cover;">
                    <button class="button"><a class="a" style="text-decoration: none;" href="{% url 'startup' %}">Saiba mais</a></button>
                    <div class="design-container">
                      <span class="design design--1"></span>
                      <span class="design design--2"></span>
                      <span class="design design--3"></span>
                      <span class="design design--4"></span>
                      <span class="design design--5"></span>
                      <span class="design design--6"></span>
                      <span class="design design--7"></span>
                      <span class="design design--8"></span>
                    </div>
                  </div>
              
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Prototipo -->
<section class="py-5">
    <div class="container">
        <div class="text-center">
            <h1>Protótipo</h1>
        </div>
        <div style="align-items: center; justify-content: space-around;" class="d-flex p-5">
            <div class="flip-card-container">
                <div class="flip-card">      
                  <div class="card-front">
                    <figure>
                      <img class="img" src="{% static 'assets/img/prototipo.jpg' %}" alt="..." width="500" height="400">
                    </figure>
                  </div>
              
                  <div class="card-back" style="background-image: url({% static 'assets/img/prototipo2.jpg' %}); background-size: cover;">
                    <button class="button"><a class="a" style="text-decoration: none;" href="{% url 'prototipo' %}">Saiba mais</a></button>
                    <div class="design-container">
                      <span class="design design--1"></span>
                      <span class="design design--2"></span>
                      <span class="design design--3"></span>
                      <span class="design design--4"></span>
                      <span class="design design--5"></span>
                      <span class="design design--6"></span>
                      <span class="design design--7"></span>
                      <span class="design design--8"></span>
                    </div>
                  </div>
              
                </div>
            </div>
            <div class="p-5">
                <p>
                  A prototipação é um processo de visualização de um produto ou solução digital, que cria modelos de teste para refinar conceitos e definir prioridades antes da implementação de uma solução.
                  Em outras palavras, um protótipo é uma amostra ou versão menos completa e mais barata de um produto ou sistema, que serve como modelo de teste para verificar e ajustar aspectos importantes do produto antes mesmo de criar a versão final dele.
                  A partir de um protótipo, é possível:
                  Perceber as funcionalidades do sistema;
                  Entender como é a experiência do usuário com o produto;
                  Validar uma ideia economizando tempo e recursos, etc.
                  Com isso, a prototipação possibilita entender o que melhorar antes de implementar uma versão final do produto ou solução.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Pitch -->
<section class="py-5" style="background-color: #F8FCFC;">
    <div class="container">
        <div class="text-center">
            <h1>Pitch</h1>
        </div>
        <div style="align-items: center; justify-content: space-around;" class="d-flex p-5">
            <div class="p-5" style="text-align: right;">
                <p>
                    Pitch é uma apresentação curta e direta sobre uma empresa ou projeto com o objetivo de despertar a atenção de um investidor, parceiro ou cliente.
                    Normalmente possui uma duração que varia entre 30 segundos e 20 minutos, de acordo com o tipo de apresentação, público, local e tempo disponível.
                    Geralmente, o pitch é realizado presencialmente para uma pessoa ou um grupo de pessoas interessado na empresa.
                    Mas também é possível fazer a apresentação por telefone e videoconferência, ou até mesmo enviar o conteúdo por e-mail ou mensagem instantânea.
                    O termo pitch ficou famoso no ecossistema das startups, onde empreendedores criativos usam a apresentação rápida para convencer investidores a fazerem aportes em seus negócios nascentes.
                    Dessa forma, a expressão se popularizou no mundo dos negócios e hoje é sinônimo de um discurso persuasivo e objetivo, que tem como objetivo vender uma ideia, projeto ou negócio a um público em potencial.
                  </p>
            </div>
            <div class="flip-card-container">
                <div class="flip-card">      
                  <div class="card-front">
                    <figure>
                      <img class="img" src="{% static 'assets/img/pitch.jpg' %}" alt="..." width="500" height="400">
                    </figure>
                  </div>
              
                  <div class="card-back" style="background-image: url({% static 'assets/img/pitch2.jpg' %}); background-size: cover;">
                    <button class="button"><a class="a" style="text-decoration: none;" href="{% url 'pitch' %}">Saiba mais</a></button>
                    <div class="design-container">
                      <span class="design design--1"></span>
                      <span class="design design--2"></span>
                      <span class="design design--3"></span>
                      <span class="design design--4"></span>
                      <span class="design design--5"></span>
                      <span class="design design--6"></span>
                      <span class="design design--7"></span>
                      <span class="design design--8"></span>
                    </div>
                  </div>
              
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- Mentoria -->
<section class="py-5">
    <div class="container">
        <div class="text-center">
            <h1>Mentoria</h1>
        </div>
        <div style="align-items: center; justify-content: space-around;" class="d-flex p-5">
            <div class="flip-card-container">
                <div class="flip-card">      
                  <div class="card-front">
                    <figure>
                      <img class="img" src="{% static 'assets/img/mentoria.jpg' %}" alt="..." width="500" height="400">
                    </figure>
                  </div>
              
                  <div class="card-back" style="background-image: url({% static 'assets/img/mentoria2.jpg' %}); background-size: cover;">
                    <button class="button"><a class="a" style="text-decoration: none;" href="{% url 'mentoria' %}">Saiba mais</a></button>
                    <div class="design-container">
                      <span class="design design--1"></span>
                      <span class="design design--2"></span>
                      <span class="design design--3"></span>
                      <span class="design design--4"></span>
                      <span class="design design--5"></span>
                      <span class="design design--6"></span>
                      <span class="design design--7"></span>
                      <span class="design design--8"></span>
                    </div>
                  </div>
              
                </div>
            </div> 
            <div class="p-5">
                <p>
                  A mentoria é um processo de aprendizagem pessoal que dá apoio e suporte ao desenvolvimento de uma carreira, ou seja, ela ajuda você a ser melhor e a encontrar um sentido para a sua vida e para a sua carreira. 
                  O mentor investe seu tempo, compartilha seu conhecimento e apoia o crescimento profissional e pessoal do mentorado. Ele fornece orientação, exemplos práticos e desafios para enriquecer seu modo de pensar e desenvolver seu potencial pessoal e profissional, enquanto segue uma jornada ao sucesso.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Contato -->
<section class="py-5" style="background-color: #F8FCFC;">
  <div class="container">
    <h1 class="text-center">Fale Conosco</h1>
    
  </div>
</section>
{% endblock %}