{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/mystyle.css' %}">
        {% block style %}
        {% endblock %}
        {% block script %}
        {% endblock %}
        <style>
            @font-face {
                font-family: Cinzel;
                src: url("{% static 'assets/fonts/cinzel/CinzelDecorative-Regular.otf' %}") format(opentype);
            }
            @font-face {
                font-family: Century Gothic;
                src: url("{% static 'assets/fonts/century-gothic/Century Gothic.ttf' %}") format(truetype);
            }
        </style>
    </head>
	<body style="font-family: Century Gothic;">
        {% include "partials/_nav.html" %}
        {% include "partials/_alerts.html" %}

        {% block content %} 
        {% endblock %}

        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.js' %}"></script>
        <script src="{% static 'assets/js/script.js' %}"></script>

        {% include 'partials/_modal.html' %}
        {% include "partials/_footer.html" %}
        {% include "partials/_register.html" %}
        {% include "partials/_login.html" %}

	</body>
</html>